version: '3'

# 部署指南：
# 1.把配置里的 grit.db.* 换成真实的 grit db 配置。并启动
# 2.打开 http://localhost:7281/grit/

services:
  gritdock:
    image: noearorg/gritdock:latest
    container_name: gritdock
    environment:
      - solon.cloud.water.server=waterapi:9371    # Water 服务地址
      - gritadmin.password=SykSYLWN9WTpzCHq       # Grit 管理密码
      - TZ=Asia/Shanghai
    ports:
      - 7281:7281